body {
    color: white;
    background: url("../img/Fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
  }
  
  .titulo{
    font-size: 2rem;
    background-color: #f77a26;
    border-radius: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .subtitulo{
    font-size: 1.8rem;
  }

  .subtitulo1{
    font-size: 1.5rem;
  }

  .container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .links-container {
    font-weight: bolder;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .links-container a {
    width: 80%;
  }
  
  .w3-button {
    background-color: #f8c923!important;
  }

  .w3-theme-l1:hover {
    background-color: #f77a26 !important;
    color: white !important;
  }

  .botones {
    background-color: #7785e6 !important;
    color: white !important;
  }
  
  .margin-top-2 {
    margin-top: 32px;
  }
  
  .bottom {
    width: 100%;
    text-align: center;
    width: auto;
    font-weight: bolder;
  }
  
  .bottom span {
    color: #ed4d82;
  }
  
  .bottom svg {
    stroke: #ed4d82;
    fill: #ed4d82;
  }
  
  @media (min-width: 768px) {
    .link {
      width: 100%;
    }
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }


